beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
MagisterPy @ git+https://github.com/H3LL0U/MagisterPy.git@5aa230c216c85513b177bf5711d822c2576de495
ntplib==0.4.0
packaging==24.2
requests==2.32.3
soupsieve==2.6
urllib3==2.2.3
